<div id="data-footer">
	<div class="row">


        <div id="data-footer-about" class="large-6 medium-12 columns">
          <span class="data-footer-column-title"><%= t("footer.headers.about") %></span>
          <p><%= t("footer.about-description") %></p>
        </div>

		<div id="data-footer-menu" class="large-3 medium-12 columns">
			<span  class="data-footer-column-title"><%= t("footer.headers.menu") %></span>
			<ul>
				<li><%# link_to(t("footer-menu.news"), news_path) %></li>
				<li><%# link_to(t("footer-menu.about"), about_path) %></li>
				<li><%# link_to(t("footer-menu.what-we-do"), what_we_do_path) %></li>
				<li><%# link_to(t("footer-menu.publications"), publications_path) %></li>
				<li><%# link_to(t("footer-menu.contact"), contact_path) %></li>
			</ul>
		</div>

		<div id="data-footer-contact" class="large-3 medium-12 columns">
          <div class="row">
			<span class="columns large-12 data-footer-column-title"><%= t("footer.headers.contact") %></span>
			<div id="phones" class="columns large-12 medium-4">
				<ul>
					<li>+38 <color>(</color>032<color>)</color> 297<color>-</color>66<color>-</color>24</li>
					<li>+38 <color>(</color>032<color>)</color> 297<color>-</color>68<color>-</color>13</li>
				</ul>
			</div>

			<div id="contact-links" class="columns large-12 medium-4">
				<ul>
					<li class="mail"><span class="fi-mail"><%= link_to( image_tag('email.png'), '#' ) %></span><%= link_to('office@zurc.org', 'mailto:office@zurc.org') %></li>
					<li><span class="fi-facebook"><%= link_to('f', '#') %></span><%= link_to('/zurc', t("footer.facebook-link")) %></li>
				</ul>
			</div>

			<div id="address" class="columns large-12 medium-4">
				<p><%= raw t("footer.address") %></p>
			</div>
		  </div>
        </div>




	</div>
</div>

