<div id="slider">

  <style>
    <% slides.each_with_index do |slide, index| %>
        #slide-<%= index %>{
            background-image: url(<%= "#{ slide.image.home_slide.url }" %> ) !important;
        }
    <% end %>
  </style>

  <div style="position: absolute;width:100%;z-index: 100;">
    <%# render partial: 'partials/menu' %>
    <%= render "menu" %>
  </div>
  <ul id="refineslide-images" class="rs-slider">
    <!--<li style="background-image: url(/assets/banners/1.jpg)" class="slide-bg group">-->
      <!--<a href="#">-->
        <!--<img src="/assets/banners/1.jpg" alt="" />-->
      <!--</a>-->
      <!--<div class="rs-caption">-->
        <!--<span class="home-slider-slide-caption-title">Дослідження</span>-->
        <!--<span class="home-slider-slide-caption-description">Ініціативна група розробляє приорітети розвитку села</span>-->
      <!--</div>-->
    <!--</li>-->

    <% slides.each_with_index do |slide, index| %>

      <li style="" id="slide-<%= index %>" class="slide-bg group">
        <a href="<%= url = slide.get_url; url.present? ? url : "" %>">
          <img src="<%= "#{ slide.image.home_slide.url }" %>" alt="<%= slide.get_image_alt %>" />
        </a>
        <% if slide.get_name.present? || slide.get_description.present? %>
            <div class="rs-caption">
              <% if slide.get_name.present? %>
                <span class="home-slider-slide-caption-title"><%= slide.get_name %></span>
              <% end %>
              <% if slide.get_description.present? %>
                <span class="home-slider-slide-caption-description"><%= slide.get_description %></span>
              <% end %>
            </div>
        <% end %>
      </li>
    <% end %>
    </ul>
</div>
