<%= render partial: 'partials/refineslide', locals: { slides: @home_slides } if @home_slides.any? %>
<!-- Three-up Content Blocks -->

<% if @home_first_abouts.any? %>
    <div id="home-about" >
      <div id="home-about-row" class="row">
        <% @home_first_abouts.each do |item| %>
          <div class="large-3 medium-6 small-3 columns">

            <% url = item.link ? item.get_url : nil %>

            <%= content_tag(url.present? ? :a : :span, { href: (url.present? ? url : nil), class: 'decorative-letter'}) do %>
                <span class="decorative-letter-inner"><%=  (name = item.get_content) ? name[0] : nil %></span>
            <% end %>

            <%= content_tag url.present? ? :a : :span,  { href: (url.present? ? url : nil), class: :name } do
                 ( link_content = item.link ? item.get_content : nil ) ? link_content[0, link_content.length] : nil
             end %>
            <p class="show-for-medium-up"><%= item.get_description %></p>
          </div>
        <% end %>
      </div>
    </div>
<% end %>

<% if @featured_articles.any? %>
    <div id="home-publications" class="row">

      <% @featured_articles.each do |article| %>
          <div class="large-4 columns">
            <h4 class="home-publication-name"><%= link_to(article.get_name, article.smart_to_param, class: 'home-publication-name-a') %></h4>
            <div class="home-publication-image-and-description">
                <%= link_to( image_tag( article.image.home_featured, alt: article.get_name ), article.smart_to_param, class: 'image-link' ) %>
                <% if article.get_description.present? %>
                  <p class="home-publication-description"><%= article.get_description %></p>
                <% end %>
                <a class="show-for-large-up" href="<%= article.smart_to_param %>" class="read-more"><%= t("read-more") %></a>
            </div>
          </div>
      <% end %>
    </div>
<% end %>


<%= render partial: 'partials/owl_carousel', locals: { gallery_items: @home_gallery_images } if @home_gallery_images.any? %>

<% if @home_second_abouts.any? %>
    <div class="row" id="home-about2">
      <% @home_second_abouts.each do |item| %>
          <div class="large-3 medium-6 small-12 columns">

            <%= content_tag ( url = item.link ? item.get_url : nil ).present? ? :a : :span, { href: (url.present? ? url : nil), class: "home-about2-column-title" } do  %>
              <%= item.link ? item.get_content : nil %>
            <% end %>
            <p class="home-about2-column-description">
              <%= item.get_description %>
            </p>
          </div>
      <% end %>
    </div>
<% end %>