<%= render partial: 'partials/refineslide', locals: { slides: @home_slides } if @home_slides.any? %>
<!-- Three-up Content Blocks -->

<% if @home_first_abouts.any? %>
    <div id="home-about" >
      <div id="home-about-row" class="row">
        <% @home_first_abouts.each do |item| %>
          <div class="large-3 columns">
            <span class="decorative-letter"><%= item.get_name[0] %></span>
            <h4><%= item.get_name[1, item.get_name.length] %></h4>
            <p><%= item.get_description %></p>
          </div>
        <% end %>
      </div>
    </div>
<% end %>

<% if @featured_articles.any? %>
    <div id="home-publications" class="row">

      <% @featured_articles.each do |article| %>
          <div class="large-4 columns">
            <h4><%= link_to(article.get_name, article.to_param) %></h4>
            <%= link_to( image_tag( article.image.home_featured, alt: article.get_name ), article.to_param, class: 'image-link' ) %>
            <p><%= article.get_description %></p>
            <a href="#" class="read-more"><%= t("read-more") %></a>
          </div>
      <% end %>
    </div>
<% end %>


<%= render partial: 'partials/owl_carousel', locals: { gallery_items: @home_gallery_images } if @home_gallery_images.any? %>

<% if @home_second_abouts.any? %>
    <div class="row" id="home-about2">
      <% @home_first_abouts.each do |item| %>
          <div class="large-3 columns">
            <span class="home-about2-column-title"><%= item.get_name %></span>
            <p class="home-about2-column-description">
              <%= item.get_description %>
            </p>
          </div>
      <% end %>
    </div>
<% end %>