<div id="header">
  <div class="row">
    <div id="logo" class="large-2 left medium-3 small-2 columns">
      <h1 class="header-logo-title"><% if current_page?(:root) %><%= image_tag('logos/ZURC-logo.png', id: "logo-img"  ) %><% else %><%= link_to(image_tag('logos/ZURC-logo.png'), root_path(locale: I18n.locale)) %><% end %></h1>
    </div>

    <div class="large-4 medium-4 hide-for-medium-down columns" id="site-caption">
      <h1 class="wurc"><%= raw t("header.wurc") %></h1>
      <h2 class="innovations"><%= t("header.innovations") %></h2>
    </div>

    <div id="header-contacts" class="large-4 medium-6 small-7 columns">
      <ul>
        <li class="phone"><span class="image-container show-for-medium-up"><%= image_tag('orange_phone.png', alt: 'phone:') %></span>+38 <color>(</color>032<color>)</color> 297<color>-</color>66<color>-</color>24</li>
        <li class="mail"><%= link_to( image_tag('orange_mail.png', alt: 'email:'), 'mailto:office@zurc.org', class: 'image-container' ) %><%= link_to('office@zurc.org', 'mailto:office@zurc.org') %></li>
        <li class="facebook-link"><%= link_to( image_tag('facebook.png', alt: 'email:'), 'https://www.facebook.com/pages/West-Ukrainian-Resource-Center/175786942494999?ref=hl', class: 'image-container' ) %><%= link_to('/zurc', 'https://www.facebook.com/pages/West-Ukrainian-Resource-Center/175786942494999?ref=hl') %></li>
      </ul>
    </div>

    <div id="language-bar" class="large-2 hide-for-medium-down columns">
      <% locale_labels = { uk: "UA", en: "ENG" } %>
      <ul class="right">
        <% Cms.config.provided_locales.each do |locale| %>
            <% next if @locale_links[locale.to_sym].blank? %>
            <li class="language" id="<%= locale %>">
              <% if I18n.locale.to_sym == locale.to_sym  %>
                  <%= content_tag(:span, class: 'image-wrapper') { image_tag("flags/#{locale}.png") } + content_tag(:span, locale_labels[locale.to_sym], class: "language-label")  %>
              <% else %>
                  <%= link_to( image_tag("flags/#{locale}.png"), @locale_links[locale.to_sym], class: 'image-wrapper' ) %>
                  <%= link_to(locale_labels[locale.to_sym], @locale_links[locale.to_sym], class: 'language-label') %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
    <div id="mobile-button-column" class="small-3 columns right show-for-medium-down">
      <div class="position-relative">
        <div id="mobile-button">
          <div id="mobile-button-inner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
  
<!-- End Header and Nav -->

  
